{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>

{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>

{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form style="margin-top: 50px;" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td style="padding-right: 10px">{{ form.username.label_tag }}</td>
            <td style="padding-right: 10px">{{ form.username }}</td>
        </tr>

        <tr>
            <td style="padding-top: 15px">{{ form.password.label_tag }}</td>
            <td style="padding-top: 10px">{{ form.password }}</td>
        </tr>
    </table>


    <input type="submit" value="login" style="margin-top: 20px; width: 45px;">
    <input type="hidden" name="next" value="{{ next }}">
</form>


<p style="margin-top: 10px;"><a href="{% url 'password_reset' %}">Lost password</a></p>

{% endblock %}
