* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    width: 600px;
}

.sidebar-nav {
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: #01ff22;
}
